@import "tailwindcss";

/* @custom-variant dark (&:is(.dark *)); */

@plugin "tailwindcss-animate";

/* @plugin "tailwind-scrollbar-hide"; */

/* @plugin "tailwind-scrollbar-hide"; */

/* @custom-variant dark (&:is(.dark *)); */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

iframe#webpack-dev-server-client-overlay {
  display: none;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.ant-tooltip-arrow {
  display: none !important;
  /* Ẩn arrow */
}

.ant-layout-sider .ant-menu-item {
  /* padding: 20px !important; */
  /* padding-left: 12px !important; */
  padding-inline: 11px !important;
  font-size: 13px !important;
  border-radius: 0rem !important;
  height: 38px;
  color: white;
  transition: none !important;
  align-items: center !important;
}

.ant-layout-sider .ant-menu-item .ant-menu-item-icon {
  margin-right: -1px !important;
  margin-top: -1px;
}

.ant-layout-sider .ant-menu-item:hover {
  background-color: var(--border) !important;
  transition: none !important;
}

.ant-layout-sider .ant-menu-item:hover span {
  color: white;
  transition: none;
}

.ant-layout-sider .ant-menu-item-selected {
  background: var(--color);
  color: white;
  font-weight: 400;
}

.ant-layout-sider .ant-menu-item-selected:hover {
  background: var(--color) !important;
}

.ant-picker-panel-layout {
  background-color: var(--bg) !important;
  color: white !important;
  border: 1px solid var(--border) !important;
  border-radius: 0px !important;
}

.ant-popover-inner {
  border-radius: 0rem !important;
  margin-top: 3.5px;
  padding: 0 !important;
  box-shadow: none !important;
}

:root {
  --bg: #242424;
  --bg-light: #323230;
  --green: #2EAD33;
  --red: #E2574C;
  --color: linear-gradient(45deg, #E2574C, #2EAD33);
  --bg-color-primary-dark: linear-gradient(45deg, #230b0a, #041607);
  --color-hover: linear-gradient(45deg, #D64F45, #2AA730);
  --hover-row-table: #1F1F1F;
  --table-head: #1A1A1A;
  --border: #404040;
  --ff: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
  --hover: #505050;
  --hover-light: #585858;
  --bg-modal: #202020;
  --focus: #999999;
  --text-gray: #A1A1A1;
  --ls3: 0.03em;
  --ls5: 0.05em;
  --ra: 6px;
  --success: #22C55E;
  --error: #FA8072;
  --secondary: #7173F2;
  --primary: #0EA5E9;
  --warning: #FCB700;
}

.bg-hover {
  background-color: var(--border);
}

.bg-color-light {
  background-color: var(--bg-light) !important;
}

.sepa {
  background-color: #686868;
}

.sepa-white {
  color: #999999;
}

.bdr {
  border-radius: 0rem !important;
}

.border-1 {
  border: 1px solid var(--border);
}

body {
  margin: 0 auto;
  font-family: var(--ff) !important;
  background-color: var(--bg) !important;
  padding-right: 0 !important;
  letter-spacing: var(--ls5) !important;
  scrollbar-highlight-color: black !important;
  color-scheme: dark !important;
  /* overflow: hidden; */
}

.bg-color {
  background-color: var(--bg);
}

.color-primary {
  background: var(--color);
}

.text-primary {
  color: var(--color);
}

.font-inter {
  font-family: var(--ff) !important;
  /* font-weight: 600 !important; */
}

.bg-modal {
  background-color: var(--bg-modal);
}

.ant-btn-primary {
  background-color: #38B6FF;
}

.root-bg-color {
  color: #38B6FF;
}

.color-red {
  color: #ef4444;
}

.color-white {
  color: white;
}

.text-gray {
  color: var(--text-gray);
}

.bg-gray {
  background: var(--text-gray);
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.pointer {
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-550 {
  font-weight: 550;
}

.fw-600 {
  font-weight: 600;
}

.fw-650 {
  font-weight: 650;
}

.fw-700 {
  font-weight: 700;
}

.fw-bold {
  font-weight: bold;
}

.fw-400 {
  font-weight: 400;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-20 {
  margin-top: 20px;
}

.ms-1 {
  margin-left: 1px;
}

.ms-2 {
  margin-left: 2px;
}

.ms-3 {
  margin-left: 3px;
}

.ms-4 {
  margin-left: 4px;
}

.ms-5 {
  margin-left: 5px;
}

.ms-6 {
  margin-left: 6px;
}

.ms-7 {
  margin-left: 7px;
}

.ms-8 {
  margin-left: 8px;
}

.ms-9 {
  margin-left: 9px;
}

.ms-10 {
  margin-left: 10px;
}

.ms-11 {
  margin-left: 11px;
}

.ms-12 {
  margin-left: 12px;
}

.ms-13 {
  margin-left: 13px;
}

.ms-14 {
  margin-left: 14px;
}

.ms-15 {
  margin-left: 15px;
}

.ms-16 {
  margin-left: 16px;
}

.ms-17 {
  margin-left: 17px;
}

.ms-18 {
  margin-left: 18px;
}

.ms-19 {
  margin-left: 19px;
}

.ms-20 {
  margin-left: 20px;
}

.me-1 {
  margin-right: 1px;
}

.me-2 {
  margin-right: 2px;
}

.me-3 {
  margin-right: 3px;
}

.me-4 {
  margin-right: 4px;
}

.me-5 {
  margin-right: 5px;
}

.me-6 {
  margin-right: 6px;
}

.me-7 {
  margin-right: 7px;
}

.me-8 {
  margin-right: 8px;
}

.me-9 {
  margin-right: 9px;
}

.me-10 {
  margin-right: 10px;
}

.me-11 {
  margin-right: 11px;
}

.me-12 {
  margin-right: 12px;
}

.me-13 {
  margin-right: 13px;
}

.me-14 {
  margin-right: 14px;
}

.me-15 {
  margin-right: 15px;
}

.me-16 {
  margin-right: 16px;
}

.me-17 {
  margin-right: 17px;
}

.me-18 {
  margin-right: 18px;
}

.me-19 {
  margin-right: 19px;
}

.me-20 {
  margin-right: 20px;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-20 {
  margin-bottom: 20px;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-start {
  justify-content: start;
}

.align-items-center {
  align-items: center;
}

.required:before {
  display: inline-block;
  content: "*";
  color: var(--error);
  margin-left: 4px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 1px;
}

.p-2 {
  padding: 2px;
}

.p-3 {
  padding: 3px;
}

.p-4 {
  padding: 4px;
}

.p-5 {
  padding: 5px;
}

.p-6 {
  padding: 6px;
}

.p-7 {
  padding: 7px;
}

.p-8 {
  padding: 8px;
}

.p-9 {
  padding: 9px;
}

.p-10 {
  padding: 10px;
}

.p-11 {
  padding: 11px;
}

.p-12 {
  padding: 12px;
}

.p-13 {
  padding: 13px;
}

.p-14 {
  padding: 14px;
}

.p-15 {
  padding: 15px;
}

.p-16 {
  padding: 16px;
}

.p-17 {
  padding: 17px;
}

.p-18 {
  padding: 18px;
}

.p-19 {
  padding: 19px;
}

.p-20 {
  padding: 20px;
}

.ps-1 {
  padding-left: 1px;
}

.ps-2 {
  padding-left: 2px;
}

.ps-3 {
  padding-left: 3px;
}

.ps-4 {
  padding-left: 4px;
}

.ps-5 {
  padding-left: 5px;
}

.ps-6 {
  padding-left: 6px;
}

.ps-7 {
  padding-left: 7px;
}

.ps-8 {
  padding-left: 8px;
}

.ps-9 {
  padding-left: 9px;
}

.ps-10 {
  padding-left: 10px;
}

.ps-11 {
  padding-left: 11px;
}

.ps-12 {
  padding-left: 12px;
}

.ps-13 {
  padding-left: 13px;
}

.ps-14 {
  padding-left: 14px;
}

.ps-15 {
  padding-left: 15px;
}

.ps-16 {
  padding-left: 16px;
}

.ps-17 {
  padding-left: 17px;
}

.ps-18 {
  padding-left: 18px;
}

.ps-19 {
  padding-left: 19px;
}

.ps-20 {
  padding-left: 20px;
}

.pe-1 {
  padding-right: 1px;
}

.pe-2 {
  padding-right: 2px;
}

.pe-3 {
  padding-right: 3px;
}

.pe-4 {
  padding-right: 4px;
}

.pe-5 {
  padding-right: 5px;
}

.pe-6 {
  padding-right: 6px;
}

.pe-7 {
  padding-right: 7px;
}

.pe-8 {
  padding-right: 8px;
}

.pe-9 {
  padding-right: 9px;
}

.pe-10 {
  padding-right: 10px;
}

.pe-11 {
  padding-right: 11px;
}

.pe-12 {
  padding-right: 12px;
}

.pe-13 {
  padding-right: 13px;
}

.pe-14 {
  padding-right: 14px;
}

.pe-15 {
  padding-right: 15px;
}

.pe-16 {
  padding-right: 16px;
}

.pe-17 {
  padding-right: 17px;
}

.pe-18 {
  padding-right: 18px;
}

.pe-19 {
  padding-right: 19px;
}

.pe-20 {
  padding-right: 20px;
}

.gap-10 {
  gap: 10px;
}

.gap-11 {
  gap: 11px;
}

.gap-12 {
  gap: 12px;
}

.gap-13 {
  gap: 13px;
}

.gap-14 {
  gap: 14px;
}

.gap-15 {
  gap: 15px;
}

.gap-16 {
  gap: 16px;
}

.gap-17 {
  gap: 17px;
}

.gap-18 {
  gap: 18px;
}

.gap-19 {
  gap: 19px;
}

.gap-20 {
  gap: 20px;
}

.gap-22 {
  gap: 22px;
}

.gap-25 {
  gap: 25px;
}

.gap-32 {
  gap: 32px;
}

.gap-8 {
  gap: 8px;
}

.gap-9 {
  gap: 9px;
}

.gap-6 {
  gap: 6px;
}

.gap-7 {
  gap: 7px;
}

.text-underline {
  text-decoration: underline;
  color: white;
}

.text-ellipsis {
  width: 230px;
  /* Chiều rộng tối đa */
  white-space: nowrap;
  /* Không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản thừa */
  text-overflow: ellipsis;
  /* Thêm dấu ba chấm */
}

#nprogress .bar {
  background: var(--color) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--color), 0 0 5px var(--color);
}

.h-50 {
  height: 50px;
}

.h-49 {
  height: 49px;
}

.h-48 {
  height: 48px;
}

.h-47 {
  height: 47px;
}

.h-46 {
  height: 46px;
}

.h-45 {
  height: 45px;
}

.h-46 {
  height: 44px;
}

.h-43 {
  height: 43px;
}

.h-42 {
  height: 42px;
}

.h-41 {
  height: 41px;
}

.h-40 {
  height: 40px;
}

.h-39 {
  height: 39px;
}

.h-38 {
  height: 38px;
}

.h-37 {
  height: 37px;
}

.h-36 {
  height: 36px;
}

.h-35 {
  height: 35px;
}

.h-34 {
  height: 34px;
}

.h-33 {
  height: 33px;
}

.h-32 {
  height: 32px;
}

.h-31 {
  height: 31px;
}

.h-30 {
  height: 30px;
}

.button-primary {
  background: var(--color);
  border-radius: 0px !important;
  /* border: 1px solid var(--color) !important; */
}

.button-primary:hover {
  background: var(--color-hover);
}

.button-outline-orange {
  color: var(--error);
  background-color: var(--bg);
  border-radius: 0px !important;
  border: 1px solid var(--error) !important;
}

.button-outline-orange:hover {
  background-color: #372926;
}

.button-orange {
  color: white;
  background-color: #D45D55;
  border-radius: 0px !important;
}

.button-orange:hover {
  background-color: #BF544D;
}

.button-success {
  color: white;
  background-color: var(--success);
  border-radius: 0px !important;
}

.button-info {
  color: white;
  background-color: #0e79b2;
  border-radius: 0px !important;
}

.button-info:hover {
  background-color: #0C6E9A;
}

.button-outline-info {
  color: var(--primary);
  background-color: var(--bg);
  border-radius: 0px !important;
  border: 1px solid var(--primary) !important;
}

.button-outline-info:hover {
  background-color: #262F37;
}

.button-outline-primary {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--red), var(--green)) 1;
  background-color: var(--bg-light);
  color: white;
}

.border-primary {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--red), var(--green)) 1;
}

.border-primary-2 {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--red), var(--green)) 1;
}

.button-outline-primary:hover {
  background-color: var(--border);
}

.button-ghost:hover {
  background-color: var(--bg-light);
}

.button-outlined {
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 0rem !important;
}

.button-outlined-combobox {
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 0rem !important;
  transition: none;
}

.button-outlined:hover {
  background-color: var(--border);
}

.button-icon:hover {
  background-color: var(--bg-light);
}

/* .button-icon { */
/*   border: 1px solid var(--border); */
/*   background-color: var(--hover); */
/* } */

/* .ant-popover { */
/*   transition: none !important; */
/* } */
/**/
/* .ant-popover { */
/*   opacity: 0; */
/*   transform: translateY(5px); */
/*   animation: fadeIn 0.3s forwards; */
/* } */
/**/
/* @keyframes fadeIn { */
/*   to { */
/*     opacity: 1; */
/*     transform: translateY(0); */
/*   } */
/* } */

.dropdown-menu {
  min-height: 40px;
  min-width: 200px;
  padding: 1px;
  background-color: var(--bg);
}

.dropdown-menu-modal {
  min-height: 40px;
  min-width: 200px;
  padding: 1px;
  background-color: var(--bg-modal);
}

.select-item:hover {
  background-color: var(--bg-light);
}

.select-item:focus {
  background-color: var(--bg-light);
}

.select-content {
  background-color: var(--bg-modal);
  border: 1px solid var(--border);
  box-shadow: none !important;
}

.select-main {
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  font-family: var(--ff) !important;
  outline: none !important;
  height: 40px;
  /* box-shadow: none !important; */
  /* transition: none !important; */
}

.select-main:focus {
  border: 1px solid var(--focus) !important;
  /* outline: none !important; */
  /* box-shadow: none !important; */
}

.filter-select:focus {
  border: 1px solid var(--bg-light) !important;
  outline: none !important;
  box-shadow: none !important;
}

.filter-select {
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  font-family: var(--ff) !important;
  outline: none !important;
  height: 35px;
  box-shadow: none !important;
  transition: none !important;
}

.select-none {
  user-select: none;
  /* Không cho phép chọn văn bản */
  -webkit-user-select: none;
  /* Đối với trình duyệt WebKit (Safari, Chrome) */
  -moz-user-select: none;
  /* Đối với Firefox */
  -ms-user-select: none;
  /* Đối với Internet Explorer/Edge */
}

.dropdown-menu-item {
  height: 35px;
  border-radius: 0rem;
  padding: 10px;
  background-color: var(--bg);
  user-select: none;
  /* Không cho phép chọn văn bản */
  -webkit-user-select: none;
  /* Đối với trình duyệt WebKit (Safari, Chrome) */
  -moz-user-select: none;
  /* Đối với Firefox */
  -ms-user-select: none;
  /* Đối với Internet Explorer/Edge */
}

.dropdown-menu-item:hover {
  background-color: var(--bg-light);
}

.dropdown-menu-item-delete:hover {
  /* background-color: #513233 !important; */
}

.checkbox-dropdown .ant-checkbox-inner {
  background-color: var(--bg) !important;
  border-radius: 0px !important;
  border-color: var(--hover) !important;
}

/* ✅ Đổi màu nền và border khi checked */
.checkbox-dropdown .ant-checkbox-checked .ant-checkbox-inner {
  background: var(--color) !important;
  border-color: var(--bg-light) !important;
}

.checkbox-dropdown .ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: #ffffff !important;
  border-width: 2px !important;
}

.checkbox-dropdown {
  user-select: none;
  /* CSS cho các trình duyệt hiện đại */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.checkbox-default .ant-checkbox-inner {
  background-color: var(--bg-light) !important;
  border-radius: 0px !important;
  border-color: var(--hover) !important;
}

.checkbox-default .ant-checkbox-checked .ant-checkbox-inner {
  background: var(--color) !important;
  border-color: var(--bg-light) !important;
}

.checkbox-default .ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: #ffffff !important;
  border-width: 2px !important;
}

.checkbox-default .ant-checkbox-indeterminate .ant-checkbox-inner {
  background: var(--color) !important;
  border-color: var(--bg-light) !important;
}

.checkbox-default .ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #ffffff !important;
  height: 3px !important;
  width: 8px !important;
  /* transition: none !important; */
}

.checkbox-default {
  user-select: none;
  /* CSS cho các trình duyệt hiện đại */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.pdi-15 {
  padding-inline: 15px;
}

.pdi-10 {
  padding-inline: 10px;
}

.pdi-11 {
  padding-inline: 11px;
}

.pdi-12 {
  padding-inline: 12px;
}

.pdi-13 {
  padding-inline: 13px;
}

.pdi-14 {
  padding-inline: 14px;
}

.pdi-20 {
  padding-inline: 20px;
}

.pdi-9 {
  padding-inline: 9px;
}

.pdi-8 {
  padding-inline: 8px;
}

.pdi-7 {
  padding-inline: 7px;
}

.pdi-6 {
  padding-inline: 6px;
}

.pdi-5 {
  padding-inline: 5px;
}

.pdi-4 {
  padding-inline: 4px;
}

.custom-table {
  border: 1px solid var(--border) !important;
  border-radius: 0rem !important;
  background-color: var(--bg) !important;
  table-layout: fixed !important;
  box-shadow: none !important;
}

/* .MuiTableRow-root .MuiTableCell-head:hover { */
/*   background-color: red !important; */
/* } */

/*table header*/
.MuiTableRow-root .MuiTableCell-head {
  background-color: var(--table-head) !important;
  line-height: 1.1 !important;
  color: white !important;
  font-size: 13.5px;
  font-weight: 500;
  font-family: var(--ff);
  border-bottom: 1px solid var(--border);
  padding-block: 12px !important;
  /* height: 41px !important; */
  /* border-left: 1px solid var(--hover) !important; */
}

/*table body*/
.MuiTableCell-root {
  border-bottom: 1px solid var(--border) !important;
  color: white !important;
  font-family: var(--ff) !important;
  font-size: 13.5px !important;
  padding-block: 6.55px !important;
  letter-spacing: var(--ls5) !important;
  /* border-left: 1px solid var(--hover) !important; */
  /* border: 1px solid var(--hover) !important; */
  /* font-weight: 500 !important; */
}

.MuiTableCell-root:first-child {
  border-left: none !important;
  /* border-radius: 0.25rem !important; */
}

.MuiTableRow-root {
  transition: linear 0.1s;
  background-color: var(--bg) !important;
}

.MuiTableRow-root:hover {
  background-color: var(--hover-row-table) !important;
  /* padding: 5px !important; */
}

.MuiTableBody-root .MuiTableRow-root:last-child .MuiTableCell-root {
  border-bottom: none !important;
  /* Xóa đường viền dưới cho ô cuối cùng */
}

.css-gb76a6-MuiTableCell-root {
  background-color: var(--bg) !important;
}

.css-1xtozoh-MuiTableRow-root.Mui-selected {
  background-color: var(--bg-light) !important;
}

.css-1xtozoh-MuiTableRow-root.Mui-selected:hover {
  /* background-color: #282828 !important; */
}

/* .MuiTableRow-head { */
/*   background-color: red !important; */
/*   transition: linear 0.1s; */
/* } */

.css-1mg8qbc-MuiTableCell-root {
  background-color: var(--bg) !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--hover-light);
  border-radius: 10px;
}

::-webkit-scrollbar {
  /* width: 8px; */
  /* height: 8px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9f9f9f;
}

.custom-table {
  overflow-y: auto !important;
  scrollbar-highlight-color: black !important;
  color-scheme: dark !important;
}

.custom-input::placeholder {
  font-family: var(--ff) !important;
  font-size: 14px;
}

.custom-input {
  background-color: var(--bg-light);
  font-family: var(--ff) !important;
  height: 40px !important;
  font-size: 14px !important;
  color: white !important;
  border-radius: 0rem !important;
  border: 1px solid var(--border);
  /* outline: none !important; */
  /* box-shadow: none !important; */
  /* transition: ease-in-out 0.1s !important; */
}

.custom-input:focus {
  border: 1px solid var(--focus) !important;
  /* outline: none !important; */
  /* box-shadow: none !important; */
}

.custom-input-script::placeholder {
  font-family: var(--ff) !important;
  font-size: 14px;
}

.custom-input-script {
  background-color: var(--border);
  font-family: var(--ff) !important;
  height: 40px !important;
  font-size: 14px !important;
  color: white !important;
  border-radius: 0rem !important;
  border: 1px solid var(--hover-light);
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

.custom-input-script:focus {
  border: 1px solid var(--focus) !important;
  outline: none !important;
  box-shadow: none !important;
}

.errorColor {
  color: var(--error);
  /* margin-top: 7px; */
  display: inline-block;
}

.text-capitalize {
  text-transform: capitalize;
}

.pdb-5 {
  padding-block: 5px;
}

.pdb-6 {
  padding-block: 6px;
}

.pdb-7 {
  padding-block: 7px;
}

.pdb-8 {
  padding-block: 8px;
}

.pdb-9 {
  padding-block: 9px;
}

.pdb-10 {
  padding-block: 10px;
}

.pdb-15 {
  padding-block: 15px;
}

.pdb-20 {
  padding-block: 20px;
}

.badge-default {
  font-size: 13px;
  font-weight: 400;
  background-color: var(--bg);
  border-color: var(--border);
  font-family: var(--ff);
  color: white;
  border-radius: 0px;
  letter-spacing: var(--ls5);
  box-shadow: none;
}

.badge-primary {
  font-size: 13px;
  font-weight: 400;
  background: var(--color);
  /* border-color: var(--border); */
  font-family: var(--ff);
  color: white;
  border-radius: 0px;
  letter-spacing: var(--ls5);
  box-shadow: none;
  border: none;
}

.badge {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--ff);
  border-radius: 0px;
  letter-spacing: var(--ls5);
  border: none;
  box-shadow: none;
}

.custom-badge {
  font-size: 13px;
  font-weight: 400;
  font-family: var(--ff);
  border-radius: 0px;
  letter-spacing: var(--ls5);
  box-shadow: none;
}

.my-swal {
  z-index: 9999 !important;
}

.swal2-modal {
  min-width: 500px;
}

.Toastify__toast-body {
  font-family: var(--ff) !important;
  font-size: 15px;
}

.bcl-hover {
  color: var(--border);
}

.bcl-white {
  color: white;
}

.input-adm {
  border: 1px solid var(--border);
}

.input-adm:focus-within {
  border-color: #D4D4D4;
}

.txt-underline:hover {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

/* ≤ 600px */
/* @media (max-width: 600px) { */
/*   .text-too-long-placeholder-logic-script { */
/*     max-width: 200px; */
/*   } */
/* } */

/* 601px đến 1400px */
/* @media (min-width: 601px) and (max-width: 1400px) { */
/*   .text-too-long-placeholder-logic-script { */
/*     max-width: 200px; */
/*   } */
/* } */

/* ≥ 1401 */
/* @media (min-width: 1401px) { */
/*   .text-too-long-placeholder-logic-script { */
/*     max-width: 450px; */
/*   } */
/* } */

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-too-long-180 {
  display: block;
  max-width: 180px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-280 {
  display: block;
  max-width: 280px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-300 {
  vertical-align: middle;
  /* Căn text về giữa theo chiều dọc */
  display: inline-block;
  /* Thay đổi từ block sang inline-block */
  max-width: 300px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-480- {
  vertical-align: middle;
  /* Căn text về giữa theo chiều dọc */
  display: inline-block;
  /* Thay đổi từ block sang inline-block */
  max-width: 480px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-auto {
  vertical-align: middle;
  /* Căn text về giữa theo chiều dọc */
  display: inline-block;
  /* Thay đổi từ block sang inline-block */
  max-width: 200px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long {
  display: block;
  width: 200px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-400 {
  display: block;
  max-width: 400px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-450 {
  display: block;
  max-width: 450px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.text-too-long-500 {
  display: block;
  max-width: 500px;
  /* Đặt chiều rộng phù hợp */
  white-space: nowrap;
  /* Ngăn không cho xuống dòng */
  overflow: hidden;
  /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
  /* Thêm dấu ... */
}

.copy {
  user-select: none;
  /* CSS cho các trình duyệt hiện đại */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  cursor: pointer;
}

.ant-notification-notice-message {
  color: white !important;
  font-weight: 400 !important;
  margin-top: 5px !important;
}

.ant-notification-notice-description {
  color: #EFF0F5 !important;
  font-weight: 400 !important;
}

.ant-notification-notice-close {
  color: var(--text-gray) !important;
}

.ant-notification-notice-wrapper {
  /* border: 1px solid var(--border) !important; */
  border-radius: 0px !important;
  background-color: var(--bg-light) !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01) !important;
}

.ant-notification-notice {
  background-color: var(--bg-light) !important;
  z-index: 10000 !important;
}

.ant-notification-notice-success,
.ant-notification-notice-error {
  font-family: var(--ff) !important;
  letter-spacing: var(--ls3);
  color: white !important;
}

.ant-message {
  z-index: 10000 !important;
}

.ant-message-success,
.ant-message-error {
  font-family: var(--ff) !important;
  letter-spacing: var(--ls3);
}

.ant-message-notice-content:has(.ant-message-success) {
  background-color: #0D4E25 !important;
  color: white !important;
  /* border-radius: 0px !important; */
  box-shadow: none !important;
}

.ant-message-notice-content:has(.ant-message-error) {
  background-color: #652427 !important;
  color: white !important;
  box-shadow: none !important;
}

.ant-tooltip-inner {
  font-family: var(--ff) !important;
  background-color: var(--border) !important;
  margin-bottom: 3px !important;
  /* Màu nền mong muốn */
  /* color: #000 !important; */
  /* Màu chữ */
}

.autocomplete {
  margin: 5px 0 0 0;
  /* margin-top: 1px; */
  position: absolute;
  border: 1px solid var(--border);
  /* border-radius: 5px; */
  color: white;
  background-color: var(--bg-modal);
  list-style: none;
  width: 100%;
  z-index: 1000;
  padding: 4px;
  max-height: 187px;
  overflow-y: auto;
}

.autocomplete-item {
  /* border-radius: 5px; */
  padding: 5px;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--ff);
  font-size: 14px;
  height: 35px;
  user-select: none;
  display: flex;
  align-items: center;
}

.autocomplete-item:hover {
  background-color: var(--bg-light);
  /* font-weight: 500; */
}

/* .button-icon-star:hover .star { */
/*   color: #FCB700; */
/* } */

.active-row {
  background-color: var(--hover-row-table);
}

.task-row {
  height: 50px;
  padding-inline: 20px;
  /* transition: linear 0.1s; */
  border-bottom: 1px solid var(--border);
}

.task-row:hover {
  background-color: var(--hover-row-table);
  border-radius: 5px;
}

.task-name:hover {
  /* cursor: pointer; */
  /* color: #38B6FF; */
  /* transition: linear 0.1s; */
}

.task-container {
  overflow-x: auto;
  width: 100%;
  overflow-y: auto;
  scrollbar-highlight-color: black !important;
  color-scheme: dark !important;
}

.task-row {
  display: flex;
  height: 53px;
  min-width: 1200px;
}

.task-cell {
  flex-shrink: 0;
  white-space: nowrap;
}

.tiptap p {
  font-size: 22px !important;
  font-family: var(--ff) !important;
  color: white !important;
}

.tiptap {
  /* background-color: var(--bg); */
}

/* .task-list input[type="checkbox"] { */
/*   background-color: red !important; */
/* } */

.tiptap li[data-checked] input[type="checkbox"] {
  border-radius: 0px !important;
  width: 22px;
  height: 22px;
  margin-top: 7px;
  margin-right: 5px;
  cursor: pointer;
}

.tiptap li[data-checked='true'] {
  text-decoration: line-through !important;
  text-decoration-color: white !important;
}

.tiptap ol {
  background-color: white !important;
  font-size: 20px;
  color: white !important;
}

.reactjs-tiptap-editor {
  color: var(--border) !important;
}

.reactjs-tiptap-editor .richtext-items-center {
  border-radius: 0px !important;
  color: white !important;
  background-color: var(--hover-row-table);
}

.richtext-border-t {
  display: none !important;
}

.richtext-items-center div {
  background-color: var(--bg-light) !important;
  display: none;
}

.richtext-items-center button:has(svg.lucide-link) {
  display: none !important;
}

.tippy-box {
  display: none !important;
}

.hover-link {
  color: #9C999B;
}

.hover-link:hover {
  color: white;
}

.richtext-overflow-hidden {
  background-color: var(--bg-light) !important;
  border-radius: 0px !important;
}

.richtext-px-1 {
  border-color: var(--hover) !important;
}

.richtext-dialog-content {
  border-color: var(--border) !important;
}

.MuiSvgIcon-root,
.MuiTypography-root {
  color: white !important;
  font-family: var(--ff) !important;
}

.MuiButtonBase-root {
  color: white !important;
  font-family: var(--ff) !important;
}

.css-1mvmid-MuiYearCalendar-button.Mui-selected {
  background-color: #666 !important;
  font-family: var(--ff) !important;
}

.MuiYearCalendar-button.Mui-disabled {
  color: var(--text-gray) !important;
  font-family: var(--ff) !important;
}

.MuiYearCalendar-button:not(.Mui-disabled) {
  color: white !important;
  font-family: var(--ff) !important;
}

#nprogress {
  pointer-events: none;
  z-index: 99999 !important;
}

#nprogress .bar {
  position: fixed;
  z-index: 99999 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.css-d7yl7t-MuiButtonBase-root-MuiPickersDay-root.Mui-disabled {
  color: var(--text-gray) !important;
  font-family: var(--ff) !important;
}

/* From Uiverse.io by Nawsome */
.pl {
  display: block;
  width: 4.975em;
  height: 4.975em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pl__arrows {
  animation-name: arrows42;
  transform: rotate(45deg);
  transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  transform-origin: 80px 80px;
}

.pl__ring-rotate {
  animation-name: ringRotate42;
}

.pl__ring-stroke {
  animation-name: ringStroke42;
  transform: rotate(-45deg);
}

.pl__tick {
  animation-name: tick42;
}

.pl__tick:nth-child(2) {
  animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {

  from,
  to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {

  from,
  3%,
  47%,
  to {
    stroke-dashoffset: -12;
  }

  14%,
  36% {
    stroke-dashoffset: 0;
  }
}

.ant-drawer {
  z-index: 9999 !important;
  outline: none !important;
}

.css-112ujhy-MuiAccordionDetails-root {
  border-top: none !important;
  border-bottom: none !important;
}

.MuiAccordion-root:first-of-type {
  border-top: 1px solid var(--border) !important;
}

.MuiAccordion-root {
  font-weight: 500 !important;
  background-color: var(--bg) !important;
  border-bottom: 1px solid var(--border) !important;
  border-left: 1px solid var(--border) !important;
  border-right: 1px solid var(--border) !important;
}

.css-1tmi71j-MuiButtonBase-root-MuiAccordionSummary-root {
  background: var(--bg-light) !important;
}

.css-1tmi71j-MuiButtonBase-root-MuiAccordionSummary-root:hover {
  /* text-decoration: underline; */
}

.MuiAccordionDetails-root {
  color: white !important;
}

.script-container {
  display: flex;
  min-height: 785px;
  max-height: 785px;
  margin-top: 25px;
  /* border: 1px solid var(--hover-light) !important; */
}

.nav-actions,
.properties {
  /* overflow-x: hidden; */
  overflow-y: auto;
  padding: 15px 20px;
  font-family: var(--ff);
}

.nav-actions {
  min-width: 250px;
  background-color: var(--bg);
  border-left: 1px solid var(--border) !important;
  border-bottom: 1px solid var(--border) !important;
  border-top: 1px solid var(--border) !important;
}

.properties {
  min-width: 350px;
  background-color: var(--bg);
  border-right: 1px solid var(--border) !important;
  border-bottom: 1px solid var(--border) !important;
  border-top: 1px solid var(--border) !important;
}

.underline-header-script {
  margin-inline: -20px;
  border-bottom: 1px solid var(--border);
  margin-top: 15px;
}

.main-logic {
  border: 1px solid var(--border) !important;
  min-width: 800px;
  padding: 15px 20px;
  background-color: var(--bg);
  /* overflow-x: hidden; */
  overflow-y: auto;
  font-family: var(--ff);
}

.main-logic-item {
  height: 35px;
  background-color: var(--bg);
  padding-inline: 15px;
  padding-block: 27px;
  border: 1px solid var(--border) !important;
}

.action-item {
  width: fit-content;
  height: 40px;
  padding-inline: 15px;
  padding-block: 5px;
}

.action-item:hover {
  /* background-color: var(--bg-light); */
  text-decoration: underline;
}

.main-logic-item:hover {
  /* border: 1px solid var(--color) !important; */
  /* background-color: var(--bg-light); */
  /* color: var(--color) !important; */
}

.main-logic-item[data-rbd-drag-handle-context-id] {
  cursor: pointer !important;
}

.drag-logic {
  margin-right: 30px;
  cursor: grab !important;
}

.active-logic {
  border-width: 1px !important;
  border-style: solid;
  /* border-image: linear-gradient(to right, var(--red), var(--green)) 1 !important; */
  border: 1px solid var(--primary) !important;
  /* background: var(--bg-color-primary-dark); */
  background-color: #262F37;
  color: white !important;
}

.preview-code {
  border: 1px solid var(--border);
  min-width: 1350px;
  max-width: 1350px;
  min-height: 600px;
  max-height: 600px;
}

.copy-code-icon {
  position: absolute;
  top: 13px;
  right: 25px;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.script-clear-icon {
  cursor: pointer;
  border: 1px solid var(--border);
  padding: 2px 10px;

  &:hover {
    background-color: var(--bg-light);
  }
}

.view-more-code {
  position: absolute;
  bottom: 5px;
  right: 490px;
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.info-action {
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.x-select {
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

.x-modal {
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

/* [data-placeholder] { */
/*   @apply text-red-500 italic; */
/* } */

.drawer-run-test .ant-drawer-header {
  background-color: var(--bg);
  border-bottom: none;
}

.drawer-run-test .ant-drawer-body {
  color: white;
  background-color: var(--bg);
}

.drawer-script-form .ant-drawer-header {
  background-color: var(--bg);
  border-bottom: none;
}

.drawer-script-form .ant-drawer-body {
  color: white;
  background-color: var(--bg);
}

.logic-items-icon {
  background-color: var(--bg);
  border: 1px solid var(--border)
}

.log-item {
  padding-inline: 0 10px;
  padding-block: 3px;
}

.dropdown-menu-group {
  padding-inline: 4px;
  padding-top: 4px;
}

.dropdown-menu-group-footer {
  padding-inline: 4px;
  padding-bottom: 4px;
}

.dropdown-menu-sepa {
  background: var(--border);
}

.select-main[data-placeholder] {
  color: var(--text-gray) !important;
  /* hoặc màu bạn muốn */
}

.filter-select[data-placeholder] {
  color: var(--text-gray) !important;
  font-size: 13px !important;
  /* hoặc màu bạn muốn */
}

.table-header-action {
  transition: linear 0.1s;
}

.table-header-action:hover {
  color: #d1d1d1;
}

.input-tags {
  background-color: var(--bg-light);
  font-family: var(--ff) !important;
  height: 40px !important;
  font-size: 14px !important;
  color: white !important;
  border-radius: 0rem !important;
  border: 1px solid var(--border);
  /* outline: none !important; */
  /* box-shadow: none !important; */
  /* transition: none !important; */
  color: var(--text-gray) !important;
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

.custom-input-tag::placeholder {
  font-family: var(--ff) !important;
  font-size: 14px;
}

.custom-input-tag {
  /* background-color: var(--bg-light); */
  font-family: var(--ff) !important;
  height: 40px !important;
  font-size: 14px !important;
  color: white !important;
  border-radius: 0rem !important;
  /* border: 1px solid var(--border); */
  border-bottom: 1px solid var(--border);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

.custom-input-tag:focus {
  /* border: 1px solid var(--focus) !important; */
  outline: none !important;
  box-shadow: none !important;
}

.autocomplete-tag {
  /* position: absolute; */
  /* border: 1px solid var(--border); */
  color: white;
  background-color: var(--bg-modal);
  list-style: none;
  width: 100%;
  z-index: 1000;
  padding: 4px;
  max-height: 183px;
  overflow-y: auto;
}

.autocomplete-tag-item {
  /* border-radius: 5px; */
  padding: 5px;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--ff);
  font-size: 14px;
  height: 35px;
  user-select: none;
  display: flex;
  align-items: center;
}

.autocomplete-tag-item:hover {
  background-color: var(--bg-light);
  /* font-weight: 500; */
}

.loader-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
}

.logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
  box-shadow: none;
  z-index: 10;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

.spinner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(transparent,
      transparent,
      transparent,
      #E2574C);
  animation: animate 4s linear infinite;
}

.spinner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(transparent,
      transparent,
      transparent,
      #2EAD33);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-inner {
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  background: rgba(36, 36, 36, 1);
  z-index: 1;
}

.task-icon {
  cursor: pointer;
  color: white;
  /* opacity: 0.7; */
  transition: ease-in-out 0.15s;
  width: 29px;
  height: 29px;
  padding: 5px;

  &:hover {
    background-color: var(--bg-light);
  }
}

.task-icon-footer {
  cursor: pointer;
  color: white;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.project-task-container {
  padding-top: 20px;
  overflow-y: hidden;
}

.project-task-item {
  width: auto;
  height: 278px;
  background-color: var(--bg);
  padding: 15px 23px;
  transition: background-color 0.1s linear;
  /* transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out; */
}

.project-task-item:hover {
  background-color: var(--hover-row-table);
}

.project-task-desc {
  color: var(--text-gray);
  font-size: 13.5px;
}

.project-task-name {
  font-size: 16px;
}

.project-task-footer {
  color: var(--text-gray);
  font-size: 13.5px;
}

.project-task-progress {
  color: var(--text-gray);
  font-size: 13.5px;
}

.project-task-badge {
  flex-wrap: wrap;
}

.progress {
  background-color: var(--border);
}

.custom-group-input:focus {
  border: 1px solid var(--focus) !important;
}

.custom-group-input {
  padding-block: 7px !important;
}
